---
layout: default
---

<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: contain; ">


     <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1> 





    </div>



</div>
